/* .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 14px !important;
    margin-left: 11px;
    line-height: 1em !important;
    margin-top: 0px !important;
} */

.grafica{
    padding: 16px;
}

:host{
    margin-top:24px;
}