<ng-container *ngIf="passActive; else elseTemplate">
    <mat-grid-list cols="2" rows="5" rowHeight="4:1">
        <table class="table" colspan="2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendance of pass.dates;index as i">
                    <td>{{i+1}}</td>
                    <td>{{parseDate(attendance)}}</td>
                    
            </tr>
            </tbody>
        </table>
        <mat-grid-tile colspan="2">
            Clases Restantes: {{pass.numberClasses}}
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-form-field>
                <mat-label>Fecha Clase</mat-label>
                <input matInput [matDatepicker]="invoiceDate" [(ngModel)]="newDateClass">
                <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
                <mat-datepicker #invoiceDate></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile colspan="2">
            <button class="bluebutton" mat-flat-button color="primary" (click)="addAttendance()">Añadir Asistencia</button>

        </mat-grid-tile>

    </mat-grid-list>
</ng-container>
<ng-template #elseTemplate>
    No hay actualmente ningún bono activo
</ng-template>