.navbar {
    color:white;
    border:1px solid black;
    background-color: #232837;
    border-radius: 5px;
    font-size: 20px;
}

body    {
    color:white;

}

a , mat-label{
    color: white;
    text-decoration:none ;
}

.avatar{
    background-color: white;
}