.bluebutton{
    background-color: #4179f2;
    height: 52px;
    margin:2px;
}

.whiteButton{
    height: 52px;
    border: solid 2px #12263a;
    margin:2px;
}

.dato{

font-family: Roboto;
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #9599a2;
}

body{
    font-family: Roboto;
    margin-top: 24px;
    color: #9599a2;
}


.param{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12263a;
}

aside{
    min-height: calc(100vh - 140px);
    margin-top:24px;
    float:right;
    width:24%;
    background-color: #ffffff;
}
section{
    min-height: calc(100vh - 140px);
    padding: 8px;
    margin-top:24px;
    width: 74%;
    background-color: #ffffff;
    text-align: left;
}

.diario{
    margin-top:24px ;
}

.botones{
    padding:0px 16px 16px 16px;
    margin-top:200px
}