<h1 style="text-align: center">
   DATOS FISCALES</h1>
<mat-grid-list cols="2" rows="5" rowHeight="2.5:1">
    <mat-grid-tile colspan="1">
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="company.name">
            </mat-form-field>
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Nif</mat-label>
                <input matInput [(ngModel)]="company.nif">
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput [(ngModel)]="company.address">
            </mat-form-field>
        </div>
    </mat-grid-tile>

 
 

    <mat-grid-tile colspan="1">
        <button (click)="addCompany()" mat-raised-button color="primary">Añadir</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <button mat-button (click)="closeWindow()">No Thanks</button>
    </mat-grid-tile>
</mat-grid-list>