/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f0efef;
}
.advanced-pie-legend .total-label,
.advanced-pie-legend .legend-items-container .item-value,
.advanced-pie-legend .legend-items-container .item-label,
.advanced-pie-legend .legend-items-container .item-percent {
    line-height: 32px;
}

.bluebutton{
    background-color: #4179f2;
    height: 52px;
    width: 206px;
}


.whiteButton{
    height: 52px;
    border: solid 2px #12263a;
    width: 206px;
}